body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.upper {
  text-align: right;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.btn {
  min-width: fit-content;
  min-height: 30px;
  background: transparent;
  border: 1px solid #979797;
  width: 30%;
  height: 40px;
  font-weight: bold;
  color: #fff;
}
.btn:hover {
  color: #fff;
}
#btn__add {
  background-color: #8378de;
}
#btn__del {
  background-color: #a4262c;
}
#btn__save {
  background-color: #00ad56;
}
#btn__edit {
  background-color: #d2ffbd;
}

.myContainer {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 10vh 8%;
}
.right {
  width: 30vw;
}

#myForm {
  width: 100%;
}
.label {
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  color: #000;
  padding: 0;
}
.input_container {
  height: 80px;
}
.input_container input {
  width: 100%;
  height: 39px;
  margin: 8px auto;
  padding: 0 8px;
  box-sizing: border-box;
  border: 1px solid #979797;
  border-radius: 5px;
}
.input_container p {
  font-size: 12px;
  color: red;
}
#emp_id {
  cursor: not-allowed;
}
/* hide input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.added {
  background: #dedbf5;
}
.deleted {
  background: #cf999c;
  cursor: not-allowed !important;
  pointer-events: none;
  opacity: 0.6;
}
.edited {
  background: #d2ffbd;
  font-weight: bold;
}
.selected {
  background: #cbd1d6;
}

#loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../spinner.gif") no-repeat center rgba(155, 155, 155, 0.3);
}

@media screen and (max-width: 800px) {
  .myContainer {
    flex-direction: column;
    align-items: center;
    margin: 6vh auto;
    width: 80%;
  }
  .right {
    width: 50vw;
  }
}