table {
  border: 1px solid #999;
  min-width: fit-content;
  width: 100%;
  color: #000;
}
thead {
  color: #fff;
  background-color: #004e8c;
}
thead th input {
  width: fit-content;
}
th, td {
  padding: 10px;
  border: 1px solid #999;
}
th {
  min-width: fit-content;
  font-weight: bold;
  cursor: pointer;
}

.pagination > .active > span,
.pagination > .active > span, .pagination > .active > span:hover 
{
  background-color: #cbd1d6;
  border-color: #cbd1d6;
  color: #000;
}
.pagination>li>span {
  color: #000;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  opacity: 0;
}
.checkbox + label {
  position: relative;
  cursor: pointer;
}
.checkbox + label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  border: 1px solid #cecece;
  background-color: #fff;
}
.checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 8px;
  background: #004e8c;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #004e8c, 4px 0 0 #004e8c, 4px -2px 0 #004e8c, 4px -4px 0 #004e8c, 4px -6px 0 #004e8c, 4px -7px 0 #004e8c;
  transform: rotate(45deg);
  vertical-align: middle;
}